*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/android/build
/android/captures
/android/.idea/caches
/android/.idea/deploymentTargetSelector.xml
/android/.idea/misc.xml
.externalNativeBuild
.cxx
local.properties
/.claude/launch.json
