# Xcode per-user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build output
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.pins

# macOS
.DS_Store
